.chargers__connector {
  border: 1px solid #EAE9E8;
  padding: 5px;
  border-radius: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  font-size: 12px;
  max-width: 60px;
}
