.total-energy__total {
  border: 1px solid #EAE9E8;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  font-size: 24px;
  width: 105px;
  display: flex;
  justify-content: center;
  color: #08906D;
  font-weight: bold;
}
