@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import './variables.scss';
@import './layout/index.scss';
@import './top-bar/index.scss';
@import './side-bar/index.scss';
@import './switch.scss';
@import './card/index.scss';
@import './home/index.scss';
@import './station-energy/index.scss';
@import './chargers/index.scss';
@import './total-energy/index.scss';

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;

}
