$background-all : #edf4f8;
$primary-color: #f5fffe;
$secondary-color: #e6252e;
$line-color: #F7F6F5;
$height-top-bar: 90px;


@mixin title-card {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}
